pyspark==3.0.0
pandas>=1.3.5
keras>=2.11.0
tensorflow>=2.11.0
matplotlib>=3.5.3
numpy>=1.21.6
dill>=0.3.6
scikit_learn>=1.0.2
statsmodels>=0.11.0
boto3>=1.26.29
awswrangler>=2.18.0
pyarrow>=10.0.0
fast-arrow>=1.0.3
tf2onnx>=1.13.0
python-dotenv>=0.21.0
